@media screen and (max-width:576px) {
    .nav-menu {
        display: none;
    }
    .humbars{
        display: flex;
        text-align: center;
      
    } 
    i{
        width: 100px;
        color: white;
    }
    .fantassy{
        font-size: 1.5rem;
        width: 5rem;
        color: rgb(230, 83, 60);
    }
}