@media screen and (max-width:576px){
    .nav-menu{
        display: none;
        width: 80%;
    }
.humbars{
    display:inline;
    text-align: center;
    margin-left: 80px;
          
}
body{
    width: 100%;
}
i{
    color: rgb(243, 232, 232);
    font-size:1.5rem;

}
.navbar{
    padding: 12px 5px;


}
.Fitness{
    font-size: 2rem;
    width: 5rem;
    color:rgb(230, 83, 60);
}
   /* Banner_iamges-responsive */
   .bg{
    max-width:100%;
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(29, 29, 29, 0.8), rgb(0, 0, 0));
}
.banner-container{
    flex-direction: column;
   }
.banner-text{
    width: 100%;
   }
.banner-title{
    font-size: 3.5rem;
    line-height: 60px;
    font-weight: 900;
    color: white;
    text-align: left;
}
.button-section{
    gap: 30px;
    margin-right: 2rem;
}
.frist-button{
    width: 150px;
    height: 43px;
    margin: 0% auto;
    font-size: 1rem;
    border-radius: 42px;
    border: none;
    gap: 30px;
    background-color: rgb(230, 83, 60);
    color: white;
    
}
.second-button{
    width: 150px;
    height: 43px;
    margin: 0% auto;
    font-size: 1rem;
    border: none;
    border-radius: 42px;
    color: white;
    background-color: rgba(211, 211, 211, 0.253);
}
.banner-image{
    width: 80%;
    margin-right: 5rem;
}
.images{
    width: 100%;
    position:static;
}
.frist-club{
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20);
    width: 200px;
    height: 100px;
    border-radius:16px;
    position: absolute;
    top:12%;
    left: 58%;
}
.second-club{
    display: flex;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20);
    width: 220px;
    height: 100px;
    border-radius:18px;
    position: absolute;
    top: 55%;
    left: 5%;
}
.play-button{
    color: white;
    position: absolute;
    padding-left: 2rem;
    padding-top: 2.3rem;  
    display: block; 
}
.cricle{
    width: 45px;
    height: 45px;
    margin-top: 25px;
    margin-left: 15px;
    box-sizing: content-box;
    background-color: red;
    border-radius:50%;
    border: 2px solid red;
}
/* frist-section-responsive */
.frist-section{
    max-width: 90%;
}
.change-title{
    font-size: 2rem;
    font-weight: bold;
    line-height: 50px;
    margin-left: 2rem;
    font-family: "Inter", sans-serif;
    color: white;
    padding-bottom: 1.5rem;
    
}
.change-descrption{
    font-size: 0.90rem;
    font-weight: 400;
    margin-left: 2rem;
    font-family: "Inter", sans-serif;
    color: rgba(255, 255, 255, 0.5);
    line-height: 20px;
}
.cricle-images-styles{
    margin-top: 2rem;
    height: 224px;
    flex-direction: column;
}
main{
    height:6650px;
    background-color: black;
    padding-top: 1rem;
}
.frist-section{
    margin: 0%;

}
.change-title{
    padding-top: 0%;
}
.cricle-images{
    margin: 1.5rem 3rem;
    /* margin-left: 3rem; */
    justify-content: center;
    align-items: center;

}
/* second-section-responsive */
.second-section{
    max-width: 80%;
    height: 515px;
    margin: 0% auto;
    margin-top: 60rem;
    border-radius: 18px;
    background: rgb(34, 34, 34);
}
.run-and-mile-styles{
    width: 100%;
    flex-direction: column;
}
.run-and-extra{
    width: 85%;
    margin-left: 2px;
    margin-top: 15px;
}
.run-title{
    width: 70%;
    font-size: 2rem;
    font-weight: 700;
    color: white;
    margin-left: 0%;
    line-height: 35px;
}
.run-description{
    font-size: 0.95rem;
    font-weight: 300;
    padding-top: 1rem;
    color: rgba(255, 255, 255, 0.5);   
}
.Join-button{
    width: 280px;
    height: 43px;
    font-size: 1rem;
    border-radius: 42px;
    border: none;
    margin-top: 0.8rem;
    color: white;
}
.run-images{
    width: 80%;
    height: 200px;
    margin-top: 25px;
}
.run-img{
    width:90%;
    margin-left: 0px;
    margin-bottom: 2rem;
    border-radius: 18px;
}
/* THird-section-responsive*/
.BM-calculator{
    width: 60%;
    margin-left: 10px;
}
.BMI-section{
    padding-top: 1rem;
    width: 100%;
    height: 650px;
    background-color: rgba(255, 255, 255, 0.1);
    flex-direction: column; 
}
.div{
    width: 80%;
    margin: 0% auto;
    margin-left: 10px; 
}
.BMI-calculator-chart{
    color: white;
    font-size: 1.3rem;
    font-weight: 800;
    line-height: 50px;
 
}
table{
    margin-top: 1rem;
    border-collapse: collapse;
}
.div0{
    width:90%;
    margin-top: 12px;
    margin-bottom: 0.89rem;
    margin-left: 10px;
}
.calculate-title{
    color: white;
    font-size: 1.4rem;
    font-weight: 800;
    line-height: 50px;

}
.fivth-grid{
    width: 205%;
    height: 35px;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.5)
}
.btn-cal{
    width: 200px;
    margin-bottom: 2rem;
}
/* challenging-part-responsive */
.challenging-part{
    height: 1800px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 5rem;
}
.challenging-container{
    flex-direction: column;
    margin-top: 5rem;   
    padding-top: 2rem;
  
}
.images-fit{
    padding-top: 2rem;
    width: 80%;
    margin: 0% auto;
}
.img-fit{
    width: 100%;
    border-radius: 16px;
    position: relative;
}
.container-text{
    margin: 0% auto;
    width:80%;
    padding-top: 2rem;
}
.container-title{
    font-size: 2rem;
    font-weight: 700;
    color: white;
}
.container-description{
    padding-top: 1rem;
    font-size: 1rem;
    font-weight: 400;
    color:rgba(255, 255, 255, 0.5) ;

}
.free-trailer{
    width: 200px;
    height: 43px;
    margin: 0% auto;
    font-size: 1rem;
    border-radius: 8px;
    border: none;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    background-color: rgb(230, 83, 60);
    color: white;
    gap: 20px;

}
.challenging-card-styles{
    height: 1250px;
    margin-top: 5rem;
    background-color: rgb(49, 49, 49);
}
.card-contain{
    flex-direction: column;

}
.contain-titile{
    width: 90%;
    margin: 0% auto;
    font-weight: 800;
    font-size: 2rem;
    color: white;
}
.contain-description{
    width: 80%;
    margin: 5% auto;
    margin-left: 5px;
    font-size: 0.88rem;
    /* font-weight: 400; */
    letter-spacing: 0%;
    line-height: normal;
    color:  rgba(255, 255, 255, 0.5);

}
.card-style{
    width: 100%;
    height: 270px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(1,1fr);
}
.card3{
    display: none;

}
.learn-more i{
    color: rgb(22, 22, 22);
    
}

/* Fourth-section-responsive */
.fourth-text-section{
    width: 100%;
    margin: 0% auto;
    padding-top: 7rem;
 
}
.fourth-titile{
    font-size: 2rem;
    font-weight: 900;
    line-height: 50px;
    color: white;
    text-align: center;
}
.meet-team{
    max-width: 100%;
    height: 1300px;
    justify-items: center;
    align-items: center;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    display: grid;
    gap: 5px;
    padding-left: 0;
    grid-template-columns: repeat(1,1fr);

}
.div1{
    display: none;
}
.div2{
    text-align: justify;
    padding-top: 0px;
    margin-left: 2px;
     margin-right: 2px


}
.div3{
    text-align: justify;

     margin-top: -50px;
    margin-left: 2px;
    margin-right: 2px; 

}
.div5{
    text-align:justify;

     margin-top: -50px;
    margin-left: 2px;
    margin-right: 2px; 
}
.div6{
    text-align: justify;
    
     margin-top: -50px;
    margin-left: 2px;
    margin-right: 2px; 

}
.div4{
    display: none;

}


/* footer-section-responsive */
.footer-section{
    padding-top: 2rem;
    /* height:720px;   */
}
.footer-section-styles{
    width: 80%;
    margin: 0% auto;
    margin-top: 1rem;
    flex-direction: column;
    gap: 30px;
}
.fitnes >i{
    font-size: 3rem;
    font-weight: 700;
    line-height: 50px;
    color: rgb(230, 83, 60);
    width: 120px;
}
.description{
    font-size: .88rem;
    font-weight: 400;
    width: 250px;
    margin-top: 12px;
    font-family: "Inter", sans-serif;
    color: rgba(255, 255, 255, 0.5);
    line-height: 20px;
}
.second-footer{
    width: 40%;  
    margin-left: 10px;
}


}


