@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playwrite+CU:wght@100..400&display=swap');
/* comons sttyle */
span{
    font-family: "Playwrite CU", cursive;
}
/* shered styles */

* {
    margin: 0;
}
body{
    font-family: "Inter", sans-serif;
}
/* header-section */
.navbar,
.banner-section{
    max-width:1250px;
    margin:  5rem auto;
    
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(29, 29, 29, 0.8), rgb(0, 0, 0));
   
}
/* Nav_bar styles */
.navbar{
    padding: 2.5rem 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-menu{
    display: flex;
    /* justify-content: space-evenly; */
    gap: 50px;
    width: 450px;
    height: 30px;
    align-items: center;
    border-radius: 16px;
    border: 2px solid rgba(211, 211, 211, 0.103);

}
.nav-menu-item{
    display: flex;
    align-items: center;
    gap: 45px;
    font-size: 1rem;
    font-weight: 400;
    color: white;
    
}
.fantassy{
    font-size: 2rem;
    font-weight: 900;
    line-height: 120px;
    color: rgb(230, 83, 60);
    width: 120px;
}
.primary-btn{
    width: 90px;
    height: 30px;
    margin-right: 50px;
    color: white;
    font-size: 1rem;
    background-color:  rgb(230, 83, 60);;
    border-radius:26px ;
}

.humbars{
    display: none;
}