@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playwrite+CU:wght@100..400&display=swap');
/* comons sttyle */
.shape{
    font-family: "Playwrite CU", cursive;
}
/* shered styles */

* {
    margin: 0;
}

.bg{
    max-width:1640px;
    margin: 0% auto;
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(29, 29, 29, 0.8), rgb(0, 0, 0));
}
body{
    font-family: "Inter", sans-serif;
    max-width:1250px;
    margin: 0% auto;
    /* background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(29, 29, 29, 0.8), rgb(0, 0, 0)); */
}
/* header-section */
.navbar{
    margin: 0rem auto;
    /* background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(29, 29, 29, 0.8), rgb(0, 0, 0)); */
   
}
/* Nav_bar styles */
.navbar{
    padding: 2rem 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-menu{
    display: flex;
    /* justify-content: space-evenly; */
    gap: 50px;
    width: 450px;
    height: 30px;
    align-items: center;
    border-radius: 16px;
    border: 2px solid rgba(211, 211, 211, 0.103);

}
.nav-menu-item{
    display: flex;
    align-items: center;
    gap: 45px;
    font-size: 1rem;
    font-weight: 400;
    color: white;
    
}
.fantassy{
    font-size: 2rem;
    font-weight: 900;
    line-height: 120px;
    color: rgb(230, 83, 60);
    width: 120px;
}
.primary-btn{
    width: 90px;
    height: 30px;
    margin-right: 50px;
    color: white;
    font-size: 1rem;
    background-color:  rgb(230, 83, 60);
    border-radius:26px ;
}

.humbars{
    display: none;
}
/* Banner-section */
.banner-section{
    /* border: 2px solid darkblue; */
    width: 90%;
    margin: 0 auto;
}
.banner-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.banner-text{
    width: 48%;
    /* border: 1px solid gold; */
}
.banner-title{
    font-size: 4rem;
    font-weight: 600;
    line-height: 90px;
    color: white;
    text-align: left;
}
.banner-description{
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: left;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.5)
    
    
}
.button-section{
    gap: 30px;
    margin-right: 2rem;
}
.frist-button{
    width: 200px;
    height: 43px;
    margin: 0% auto;
    font-size: 1rem;
    border-radius: 42px;
    border: none;
    gap: 30px;
    background-color: rgb(230, 83, 60);
    color: white;
    
}
.second-button{
    width: 200px;
    height: 43px;
    margin: 0% auto;
    font-size: 1rem;
    border: none;
    border-radius: 42px;
    color: white;
    background-color: rgba(211, 211, 211, 0.253);
}
.banner-image{
    padding-left: 2rem;
    position: relative;
}
.images{
    max-width:100%;
    position:static;
}
.frist-club{
    background-color: rgba(131, 128, 128, 0.1);
    backdrop-filter: blur(20);
    width: 200px;
    height: 100px;
    border-radius:16px;
    position: absolute;
    top: 25%;
    left: 80%;
}
.number{
    font-size: 2.5rem;
    color: white;
    margin-left: 25px;
}
.title{
    font-size: 1rem;
    color: white;
    margin-left:25px;
}
.second-club{
    display: flex;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20);
    width: 220px;
    height: 100px;
    border-radius:18px;
    position:absolute;
    top: 70%;
    left: 5%;
}
.paly-button{
    color: white;
    position: absolute;
    padding-left: 1.8rem;
    padding-top: 2.2rem;
    display: none;
}
.ttile{
    margin-left: 5px;
}
.cricle{
    width: 35px;
    height: 35px;
    margin-top: 25px;
    margin-left: 15px;
    box-sizing: content-box;
    background-color: red;
    border-radius:50%;
    border: 2px solid red;
}
/* main section styles */
main{
    max-width:1640px;
    height:2800px;
    margin: 0% auto;
    padding-top: 6rem;
    background-color: black;
}
 /* frist-section*/
.frist-section{
    max-width: 88%;
    margin: 0% auto;


}
.change-yours-section{
    text-align: center;

}
.change-title{
    font-size: 2.5rem;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    color: white;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    line-height: 20px;
}
.change-descrption{
    font-size: 0.90rem;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color: rgba(255, 255, 255, 0.5);
    line-height: 20px;
}
.cricle-images-styles{
    margin-top: 2rem;
    height: 280px;
    display: flex;
}
.cricle-images{
    width: 90%;
    height: 100%;
    gap: 40px;
    text-align: center;
    padding-top: 20px;


}
.cricle-img{
    border-radius: 50%;

}
h4{
    color: white;
    padding-top: 6px;
}
.cricle-description{
    padding-top: 5px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
}
/* second-section styles */
.second-section{
    max-width: 88%;
    /* height: 350px; */
    margin: 0% auto;
    margin-top: 5rem;
    border-radius: 18px;
    background: rgb(34, 34, 34);
   
}
.run-and-mile-styles{
    width: 80%;
    display: flex;
 
}
.run-and-extra{
    width: 50%;
    /* border: 2px solid saddlebrown; */
    margin-top: 30px;
    margin-left: 2rem;
}
.run-title{
    font-size: 3rem;
    font-weight: 900;
    color: white;
    line-height: 50px;

}
.run-description{
    font-size: 1rem;
    font-weight: 400;
    padding-top: 1rem;
    color: rgba(255, 255, 255, 0.5);
   
}
.Join-button{

    width: 200px;
    height: 43px;
    margin: 0% auto;
    font-size: 1rem;
    border-radius: 42px;
    border: none;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    background-color: rgb(230, 83, 60);
    color: white;
    gap: 20px;
}
.run-images{
    width: 80%;
    height: 80%;
    margin-top: 20px;
   
    /* border: 1px solid khaki; */
}
.run-img{
    width:100%;
    height:100%;
    margin-left: 150px;
    border-radius: 18px;
}

/* third-section-styles */
.third-section{
    margin-top: 5rem;
}
.BM-calculator{
    width: 48%;
    margin: 0% auto;
    justify-items: center;
    align-items: center;



}
.BMI-title{
    color: white;
    font-size: 2rem;
    font-weight: 900;
    line-height: normal;
    /* text-align: center; */

}
.BMI-description{
    font-size: .95rem;
    font-weight: 300;
    padding-top: 0.5rem;
    color: rgba(255, 255, 255, 0.5);
    line-height: normal;
    /* text-align: center; */


}
.BMI-section{
    width: 100%;
    margin-top: 5rem;
    height: 320px;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-around; 
 
 
}
.div{
    width: 30%;
    margin: 2% auto;

}
.BMI-calculator-chart{
    color: white;
    font-size: 1.8rem;
    font-weight: 800;
    line-height: 50px;
 
}
table{
    margin-top: 3rem;
    border-collapse: collapse;
}
th{
    color: white;
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}
 th,td{
    width: 130px;
    height: 25px;
    border: 1px solid grey;

}
td{
    font-size: .80rem;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}
.div0{
    width: 45%;
    margin: 0% auto;
}
.calculate-title{
    color: white;
    font-size: 1.8rem;
    font-weight: 800;
    line-height: 50px;

}
.calculate-description{
    font-size: .80rem;
    color: rgba(255, 255, 255, 0.5);
    font-weight: normal;
    line-height: normal;
}
.calculate-from{
    width: 80%;
    display: grid;
    margin-top: 1rem;
    grid-template-columns: repeat(2,1fr);
    gap:10px; 
}
.frist-grid{
    width: 200px;
    height: 35px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.5);

}
.second-grid{
    width: 200px;
    height: 35px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.5);
}
.third-grid{
    width: 200px;
    height: 35px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.5);
}

.fourth-grid{
    width: 200px;
    height: 35px;
    border-radius: 8px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.5);
}
.hiegt{
    text-align: justify;
    margin-left: 1rem;
    color: rgba(255, 255, 255, 0.5);
}
.from{
   
    margin-left: 2rem;
}
.fivth-grid{
    width: 195%;
    height: 35px;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.5)
}
.btn-cal{
    width: 70%;
    height: 35px;
    border-radius: 18px;
    border: none;
    background-color: red;
    color: white;
    font-size: 1rem;
}
/* challenging-part-styles */
.challenging-part{
    width: 100%;
    height: 500px;
    background-image: linear-gradient(90deg, rgb(83, 76, 75) 0%, rgba(133, 12, 12, 0) 100%),url(../images/uniqe.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.challenging-text{
    width: 450px;
    padding-top: 10rem;
    padding-left: 10rem;
}
#crossfit{
    font-size: 3rem;
    font-weight: 800;
    line-height: 50px;
    color: white;  
}
.welcome-title{
    font-size: 2rem;
    font-weight: 700;
    line-height: 50px;
    color: white;
    text-align: left;
}
.crossfit-description{
    font-size: 1rem;
    font-weight: 400;
    color: black;
    text-align: center;

}

.border{
    width: 350px;
    color: black;
    font-weight: 400;
    text-align: left;
    margin: 1rem auto;
}
.read-more{
    width: 200px;
    height: 50px;
    border-radius: 18px;
    margin-left: 15rem;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 1rem;
    background: border-box;
    background-color: darkgrey;
    border: none;
    border: 1px solid grey;
    color: rgb(240, 19, 192);

}
/* fourth-section styles */


.fourth-section{
    max-width: 90%;
    height: 750px;
    margin: 0% auto;
    margin-top: 5rem;
   
}
.fourth-text-section{
    width: 60%;
    margin: 0% auto;
 
}
.fourth-titile{
    font-size: 3rem;
    font-weight: 900;
    line-height: 50px;
    color: white;
    text-align: center;
}
.fourth-description{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;

}
.meet-team{
    max-width: 100%;
    height: 600px;
    margin-top: 3rem;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    display: grid;
    grid-template-columns: repeat(3,1fr);

}
.div1,
.div2,
.div3,
.div4,
.div5,
.div6{
    margin-top: 2rem;
    width: 348px;
    height: 250px;
    margin-left: 1rem;
    border-radius: 18px;
  
}
.div1{
    background-image:url(../images/trainer1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.div2{
    background-image:url(../images/trainer2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.div3{
    background-image:url(../images/trainer3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.div4{
    background-image:url(../images/trainer4.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.div5{
    background-image:url(../images/trainer5.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.div6{
    background-image:url(../images/trainer6.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.name{
    font-size: 1rem;
    margin-top: 12rem;
    margin-left: 2rem;
}
.trainer{
    margin-left: 2rem;
    color: rgba(255, 255, 255, 0.5);

}
/* footer-section-styles */
footer{
    max-width:1640px;
    height:350px;
    padding-top: 3rem;
    margin: 0% auto;
    background-color:rgb(31, 30, 30);
   
    
}
.footer-section-styles{
    width: 80%;
    margin: 0% auto;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.frist-footer{
    width: 40%;

}
.second-footer{
    width: 40%;  
    margin-left: 100px;
}
.third-footer{
    width: 40%;


}
.fitnes >i{
    font-size: 3rem;
    font-weight: 700;
    line-height: 50px;
    color: rgb(230, 83, 60);
    width: 120px;
}
.description{
    font-size: .88rem;
    font-weight: 400;
    margin-top: 12px;
    font-family: "Inter", sans-serif;
    color: rgba(255, 255, 255, 0.5);
    line-height: 20px;
}
.second-footer >h3{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 50px;
    color: white;
}
.second-footer >p{
    font-size: .88rem;
    font-weight: 400;
   margin-top: 8px;
    font-family: "Inter", sans-serif;
    color: rgba(255, 255, 255, 0.5);
    line-height: 20px;


}
.third-footer >h3{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 50px;
    color: white;

}
.third-footer >p{
    font-size: .88rem;
    font-weight: 400;
     margin-top: 8px;
    font-family: "Inter", sans-serif;
    color: rgba(255, 255, 255, 0.5);
    line-height: 20px;
}
hr{
    width: 80%;
    margin: 0 auto;
    border: 1px solid grey;
    margin-top: 5rem;
}
.last-foot{
    text-align: center;
    margin-top: 1rem;
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
}